.text-gris {background-image: linear-gradient(
    145deg,
    rgb(29, 29, 29),
    rgba(29, 29, 29, 0.863),
    rgba(29, 29, 29, 0.493),
    rgb(29, 29, 29),
    rgba(29, 29, 29, 0.514),
    rgba(29, 29, 29, 0.801)
    );
}

.text-rouge { color: rgb(116, 14, 14); }

.text-bleu { color: rgb(43, 125, 196); }

.text-vert { color: rgb(10, 85, 14); }

.-gris { color: rgb(146, 146, 146); }

/* PASTILLE CV */
.cv-brand {
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    padding: 0.8rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: white;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: background 0.3s ease;
}

.cv-brand:hover {
    background-color: white;
    color: #03418d;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.cv-brand:focus {
    border: 2px solid rgb(0, 204, 255);
}

.row.align-items-center > div{
margin-bottom:30px;
}


.projet {
    height: 20rem;
    opacity: 80%;
    transition: 0.6s;
}

.projet:hover {
    opacity: 100%;
    transform: scale(1.03);
}

.bg-projet-1 {
    background: linear-gradient(
        110deg,
        #FFFFFF 0%, 
        #F7F4EE 30%, 
        #EDE5D5 60%, 
        #DDD0B8 100%
    );
    border-top: 2px solid #364757;
    border-bottom: 2px solid #365736;
    /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%); */
}

.bg-projet-2 {
    background: linear-gradient(108deg, #FFFFFF 0%, #F0F4F8 20%, #D8E4EF 50%, #A8BDD4 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    margin-bottom: 1rem;
}

.bg-projet-3 {
    background: linear-gradient(108deg, #FFFFFF 0%, #F0F4F8 20%, #D8E4EF 50%, #A8BDD4 100%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
    margin-bottom: 1rem;
}

.bg-projet-4 {
    background: linear-gradient(108deg, #FFFFFF 0%, #F0F4F8 20%, #D8E4EF 50%, #A8BDD4 100%);
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0 100%);
    margin-bottom: 1rem;
}

.bg-projet-5 {
    background: linear-gradient(108deg, #FFFFFF 0%, #F0F4F8 20%, #D8E4EF 50%, #A8BDD4 100%);
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 100%);
    margin-bottom: 1rem;
}

.tech-stack span {
    display: inline-block;
    transition: 0.8s;
}

.tech-stack span:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card:hover {
    filter: grayscale(20%) brightness(95%);
}
