body {
    position: relative;
    background-image: linear-gradient(
  120deg,  #f8f6f4,
  #ebe6e1,
  #ffffff,
  #e9edf2,
  #f7f8fa
)

 !important;
    /* background-size: 800% 800%;
    animation: myAnimation 16s linear 2s infinite; */
}

@keyframes myAnimation {
  0%   {background-position: 0% 25%;}
  33%  {background-position: 50% 75%;}
  66% {background-position: 100% 75%;}
  100% {background-position: 50% 25%;}
}


nav.project {
    position: sticky;
    top: 0;
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav.project a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.bg-projet-1 {
  /* Blanc → gris perle moderne */  
  background: linear-gradient(110deg, #ffffff, #f0f0f0, #d9d9d9);
  border-top: 2px solid #364757;
  border-bottom: 2px solid #365736;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

/* section { padding: 40px; max-width: 900px; margin: auto; } */
/* h2 { border-bottom: 2px solid #eee; padding-bottom: 5px; } */

.img-filtre {
  filter: grayscale(70%) brightness(80%);
  transition: 0.5s;
}

.hover-card-img:hover .img-filtre {
  filter: grayscale(0%) brightness(100%);
  color: black !important;
}

.hover-card-img:hover .text-white {
  transform: translateX(30px);
  color: black;
}

.position-absolute {
    pointer-events: none;
}
