body {
    position: relative;
    background-image: linear-gradient(
  120deg,  #f8f6f4,
  #ebe6e1,
  #ffffff,
  #e9edf2,
  #f7f8fa
)

 !important;
    /* background-size: 800% 800%;
    animation: myAnimation 16s linear 2s infinite; */
}

@keyframes myAnimation {
  0%   {background-position: 0% 25%;}
  33%  {background-position: 50% 75%;}
  66% {background-position: 100% 75%;}
  100% {background-position: 50% 25%;}
}

.col-md, .shadow {
  background-color: white;
}

  nav.project {
      position: sticky;
      top: 0;
      background: #f4f4f4;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    nav.project a {
      margin-right: 15px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    /* section { padding: 40px; max-width: 900px; margin: auto; } */
    h2 { border-bottom: 2px solid #eee; padding-bottom: 5px; }