body {
    background-image: linear-gradient(
        120deg,  #f8f6f4,
        #ebe6e1,
        #ffffff,
        #e9edf2,
        #f7f8fa
    );
    box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.3);

}

p * {
    font-weight: normal !important;
}