body {
    background-image: linear-gradient(
        120deg,  #f8f6f4,
        #ebe6e1,
        #ffffff,
        #e9edf2,
        #f7f8fa
    );

}

p * {
    font-weight: normal !important;
}

.navbar-brand:hover {
    box-shadow: 3px 3px 7px 2px rgba(0, 53, 114, 0.826);
    transition: 0.5s;
}
.nav-hov:hover * {
    color: white !important;
    background-color: rgba(0, 53, 114, 0.826);
    border-radius: 5px;
}

.bg-bleu-marine {
    background-color: #03418d;
    color: white;
    padding: 3rem;
    border-radius: 10px;
}

.text-justifier {
    text-align: justify;
}

.li-hvr:hover {
    cursor: pointer;
    scale: calc(1.01);

}

/* Background dégradé */
/* 1 */
.bg-obj {
    background-image: linear-gradient(
        120deg,  
        #498508c7,
        #08852588,
        #088525d2,
        #08852598,
        #0885253e
    );
    color: white;
}
/* 2 */
.bg-modeli {
    background-image: linear-gradient(
        120deg,  
        #474747,
        #47474788,
        #474747d2,
        #47474798,
        #4747473e
    );
    color: white;
}
/* 3 */
.bg-dev {
    background-image: linear-gradient(
        120deg,  
        #087285c7,
        #085b85d2,
        #085b8598,
        #085b8551,
        #085b853e
    );
    color: white;
}
/* 4 */
.bg-sec {
    background-image: linear-gradient(
        120deg,  
        #852308c7,
        #85230888,
        #852308d2,
        #85230898,
        #8523083e
    );
    color: white;
}
/* 5 */
.bg-test {
    background-image: linear-gradient(
        120deg,  
        #f1ae1d,
        #f1ae1d88,
        #f1ae1dd2,
        #f1ae1d98,
        #f1ae1d3e
    );
    color: white;
}
/* 6 */
.bg-blue {background-image: linear-gradient(
    145deg,
    rgb(0, 47, 100),    
    rgba(4, 46, 94, 0.904),    
    rgba(4, 46, 94, 0.719),    
    rgba(4, 46, 94, 0.795),    
    rgb(4, 46, 94)
    );
}
/* 7 */
.bg-rouge {background-image: linear-gradient(
    145deg,
    rgb(206, 0, 0),
    rgb(206, 0, 0),
    rgb(206, 0, 0),
    rgb(206, 0, 0),
    rgb(206, 0, 0)
    ) 
}
/* 8 */
.bg-vert {background-image: linear-gradient(
    145deg,
    green,
    green,
    green,
    green,
    green
    ) 
}

.drop-shadow {
     filter: drop-shadow(0.4px 3px 5px rgba(0, 0, 0, 0.2));
  /* pas de background, pas de padding, pas de border */
}

