<style>
  nav.project {
    position: sticky;
    top: 5rem;
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    margin-bottom: 3rem;
  }

  nav.project a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
</style>

<nav class="project navbar navbar-expand-md">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavProjet"
    aria-controls="navbarNavProjet" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavProjet">
    <ul class="navbar-nav mx-auto">

      <li>
        <a class="nav-link dropdown-toggle " href="activites" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Missions</a>
            <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item nav-hov" href="activite_1">Acivité 1 - Devsio-Chat</a>
                </li>
                <li>
                    <a class="dropdown-item nav-hov" href="activite_2">Activité 2 - GdC</a>
                </li> 
                <li>
                    <a class="dropdown-item nav-hov" href="activite_3">Activité 3 - Server ubuntu</a>
                </li>
            </ul>
      </li>

      <li>
        <a class="nav-link nav-hov" href="#contexte">Contexte</a>
      </li>

      <li>
        <a class="nav-link" href="#objectifs">Objectifs</a>
      </li>

      <li>
        <a class="nav-link" href="#infra">Infrastructure</a>
      </li>

      <li>
        <a class="nav-link" href="#mise-en-oeuvre">Mise en œuvre</a>
      </li>

      <li>
        <a class="nav-link" href="#securite">Sécurité</a>
      </li>

      <li>
        <a class="nav-link" href="#tests">Tests & validation</a>
      </li>

      <li>
        <a class="nav-link" href="#bilan">Bilan</a>
      </li>

    </ul>
  </div>
</nav>
